<md-content layout-padding class='form'>
  <form>
    <md-input-container class="md-block">
      <label>Project</label>
      <input placeholder="Headline" type="Text" name="headline" value="{{headline}}" ng-model="headline">
    </md-input-container>
    <md-content layout-padding>
      <div>
        <md-input-container>
          <input placeholder="Check Size Min" type="" name="" convertor value="{{checkMin | number}}" ng-model="checkMin">
        </md-input-container>
        <md-input-container>
          <input placeholder="Check Size Max" convertor type="" name="" value="{{checkMax | number}}" ng-model="checkMax">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input placeholder="Revenue Min" convertor type="" name="" value="{{revenueMin | number}}" ng-model="revenueMin">
        </md-input-container>
        <md-input-container>
          <input placeholder="Revenue Max"  convertor type="" name="" value="{{revenueMax | number}}" ng-model="revenueMax">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input placeholder="EBITDA Min" convertor type="" name="" value="{{ebitdaMin | number}}" ng-model="ebitdaMin">
          </md-input-container>
          <md-input-container>
            <input placeholder="EBITDA Max" convertor type="" name="" value="{{ ebitdaMax | number }}" ng-model="ebitdaMax">
          </md-input-container>
        </div>
    </md-content>
  </form>
  <md-button ng-click="save()" id="button-id" class="md-primary" md-ripple-size="full" md-no-ink="true" aria-label="button-label">
  Save </md-button>
</md-content>